@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Застосунок у цілому підготовлений до роботи <a href="https://github.com/PaulKatin/Lab3_1_templ">Гит хаб для шаблонів і пояснення</a>.</p>
</div>
