@{
    ViewData["Title"] = "Party!";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Party!</h2>
    <p>
        We're going to have an exciting party.<br />
        (To do: sell it better. Add pictures or something.)
        <a href="https://github.com/PaulKatin/Lab3_1_templ">Гит хаб для шаблонів і пояснення</a>.
    </p>


</div>
